.cart {
  .cart-title {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .cart-empty-container {
    .cart-empty-img {
      height: 60vh;
    }

    .cart-empty-text {
      margin-top: 50px;

      .link {
        color: #639ea6;
        cursor: pointer;
      }
    }
  }

  .totals-row {
    margin-bottom: 50px;

    .totals {
      .proceed {
        border: 1px solid #7da8a6;
        border-radius: 1em;
        text-align: center;
        justify-content: center;
        padding: 15px;
        display: inline-block;
        margin-left: 15px;
        background-color: transparent;
      }
    }
  }
}
