.home {
  padding: 150px 0;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 960px;
    justify-items: center;

    .image-container {
      .image {
        width: 500px;
        background-size: cover;
        height: 400px;
      }
    }

    .logo-container {
      align-self: center;
      .logo {
        font-size: 5em;
        color: black;
        margin: 0;
      }
      .logo-text {
        text-align: left;
        margin-top: 10px;
        margin-left: 5px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .home {
    .container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin-top: -100px;
      height: 100vh;
    }
  }
}
